@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.logo {
  width: 70px; /* Define a largura desejada */
  height: auto; /* Mantém a proporção da imagem */
  display: block; /* Para centralizar a imagem horizontalmente */
  margin: 0 auto; /* Para centralizar a imagem horizontalmente */
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.1);
}

button {
  cursor: pointer;
}

.container {
  width: 90%;
  height: 80%;
  border-radius: 10px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.container form {
  width: 100%;
  max-width: 400px;
}

.container label {
  font-size: 14px;
  margin-bottom: 8px;
}

.container input[type="text"],
.container input[type="password"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 16px;
}

.container .form-check {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.container .form-check-input {
  margin-right: 8px;
}

.container .btn-primary {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(231, 209, 9);
  color: rgb(0, 0, 0);
  font-weight: 500;
}

.container p {
  margin-top: 16px;
  font-size: 14px;
}

.container p a {
  color: rgb(57, 57, 226);
  font-weight: 500;
  text-decoration: none;
}

.container p a:hover {
  text-decoration: underline;
}

@media (max-width: 700px) {
  body {
    font-size: 10px;
  }

  .container label {
    font-size: 12px;
  }

  .container input[type="text"],
  .container input[type="password"] {
    padding: 6px;
  }

  .container .btn-primary {
    padding: 8px;
    font-size: 12px;
  }
}

.alert-message {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}